html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html { font-size: 100.01%; }
body {
  font-size: 75%;
  color: #222222;
  background: #ffffff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 img { margin: 0; }
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
}
a:focus { color: #000000; }
a:hover { color: #000000; }
a {
  color: #000099;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0; }
li ol { margin: 0; }
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.hide { display: none; }
.quiet { color: #666666; }
.loud { color: #000000; }
.highlight { background: #ffff00; }
.added {
  background: #006600;
  color: #ffffff;
}
.removed {
  background: #990000;
  color: #ffffff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.ui-layout-resizer { background-color: #cacdcb; }
.ui-layout-center, .ui-layout-west { overflow-y: auto; }
.ui-layout-content {
  height: 100px;
  position: relative;
  overflow: auto;
}
#content .ui-layout-center {
  padding: 0;
  margin: 0;
  border: none;
}
#content .ui-layout-center .ui-tabs-nav {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-left: none;
  border-right: none;
  background-color: #edefeb;
  background-image: none;
}
.fg-button {
  outline: 0;
  margin: 0 4px 0 0;
  padding: 0.4em 1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
}
div.header {
  background-color: #c6d6b4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcddda), color-stop(1, #c6d6b4));
}
div.footer {
  background-color: #c6d6b4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c6d6b4), color-stop(1, #dcddda));
}
#right div.header h1 {
  text-align: center;
  color: #9ab7a5;
}
#left input#search {
  margin: 5px 5px 5px 40px;
  height: 25px;
  width: 250px;
  font-size: 1.4em;
}
#left div.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#left div.panel div.navbar {
  height: 1.9em;
  padding-top: 10px;
  background-color: #edefeb;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  text-align: center;
}
#left div.panel div.navbar h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#left div.panel div.navbar a.back {
  position: absolute;
  top: 6px;
  right: 6px;
}
#left div.panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#left div.panel ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
#left div.panel ul li a {
  display: block;
  padding: 0.4em 0.4em 0.4em 40px;
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 1px solid #c6d6b4;
}
#left div.panel ul li a:hover { background-color: #edefeb; }
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding: 5px;
}
::-webkit-scrollbar-button:start:decrement { display: none; }
::-webkit-scrollbar-button:end:increment { display: none; }
::-webkit-scrollbar-button:vertical:start:increment { display: none; }
::-webkit-scrollbar-button:vertical:end:decrement { display: none; }
::-webkit-scrollbar-button:vertical:increment { display: none; }
::-webkit-scrollbar-button:vertical:decrement { display: none; }
::-webkit-scrollbar-track-piece { background-color: #e1e2e2; }
::-webkit-scrollbar-thumb:vertical {
  background-color: #8ca0a7;
  -webkit-border-radius: 3px;
}
