/* Global */
body {overflow-y:scroll;}
a {text-decoration:none;color:#000;} /* make all my links black with no underline */
.hide {display:none;} /* just add this class to an element to hide it */
.remove-margins-padding {padding:0px;margin:0px;}

/* Setup my layout */
#header {position:fixed;top:0;left:0;z-index:10;width:100%;height:49px;}
#footer {position:fixed;bottom:0;left:0;z-index:10;width:100%;height:29px;}
#sidebar {position:fixed;top:50px;left:0;width:240px;overflow-y:scroll;} /* we use javascript to set the height */
#center {position:absolute;top:50px;left:240px;z-index:0;} /* we use javascript to set the width */

/* Header styles */
#header {background:url("../images/header_bg.png") repeat-x;border-bottom:1px solid #404040}
#header h1 {display:none;}
#header ul {position:absolute;top:16px;}
#header ul li {display:inline;}
#header .header-button-itu {font-weight:bold;color:#252525;padding:5px 10px;background:url("../images/header-button-itu-inactive.png") repeat-x -5px;border:1px solid #494949;-moz-border-radius:5px;-webkit-border-radius:5px}
#header .header-button-itu:hover {background:url("../images/header-button-itu-active.png") repeat-x -5px;}
#header .header-button-m {font-weight:bold;color:#444;padding:5px 10px;background:url("../images/header-button-m-inactive.png") repeat-x -5px;border:1px solid #53585c;-moz-border-radius:12px;-webkit-border-radius:12px}
#header .header-button-m:hover {background:url("../images/header-button-m-active.png") repeat-x -5px;}


/* Footer stlyes */
#footer {background:#b5b5b5 url("../images/footer_bg.png") repeat-x fixed center;border-top:1px solid #404040;}
#footer .col1 {position:absolute;top:5px;left:5px;}
#footer .col2 {position:absolute;top:5px;left:240px;}
#footer .col3 {position:absolute;top:5px;right:5px;}
#footer .footer-button-itu {color:#252525;padding:2px 5px;background:url("../images/footer-button-itu-inactive.png") repeat-x -5px;border:1px solid #494949;-moz-border-radius:2px;-webkit-border-radius:2px}
#footer .footer-button-itu:hover {background:url("../images/footer-button-itu-active.png") repeat-x -5px;}

/* Sidebar styles */
#sidebar {background-color:#d1d7e2;}
#sidebar h2 {font-size:1em;font-weight:bold;color:#666;margin:.5em .5em 0;}
#sidebar ul {list-style:none;padding:0px;margin:0px;}
#sidebar ul li {position:relative;}
#sidebar ul li a {margin-left:20px;padding-left:22px;line-height:20px;display:block;}
#sidebar ul.itu li.selected {background:url("../images/sidebar-itu-active.png") repeat-x;}
#sidebar ul li.selected a {font-weight:bold;color:#fff;}
#sidebar ul.m li.selected {background:url("../images/sidebar-m-active.png") repeat-x;}
#sidebar ul.m li {padding:2px 0;}
#sidebar ul.m li span {color:#fff;font-size:8pt;font-weight:bold;position:absolute;top:4px;right:1.5em;background-color:#8097bd;padding:0px 8px;-moz-border-radius:8px;-webkit-border-radius:8px}
#sidebar ul.m li.selected span {background-color:#fff;color:#8499c5}

#sidebar .person {background:url("../images/icons/user_gray.png") no-repeat 0px 2px;}
#sidebar .company {background:url("../images/icons/building.png") no-repeat 0px 2px;}
#sidebar .device {background:url("../images/icons/computer.png") no-repeat 0px 2px;}
#sidebar .red_tag {background:url("../images/icons/tag_red.png") no-repeat 0px 2px;}
#sidebar .yellow_tag {background:url("../images/icons/tag_yellow.png") no-repeat 0px 2px;}
#sidebar .orange_tag {background:url("../images/icons/tag_orange.png") no-repeat 0px 2px;}
#sidebar .green_tag {background:url("../images/icons/tag_green.png") no-repeat 0px 2px;}

/* Center (Main Content) styles */
#center {padding-bottom:4em;}
#center h2 {font-weight:bold;font-size:1.5em;color:#404040;margin:.5em 1em 0;padding:0px;}
#center h3 {font-weight:bold;font-size:1.3em;color:#505050;margin:.5em 1em 0;padding:0px;}
#center h4 {font-weight:bold;font-size:1.2em;color:#606060;margin:.5em 1em 0;padding:0px;}
#center p {margin:.5em 1.5em;padding:0px;}
#center ol.align, #center ul.align {margin:.5em 3em;padding:0px;}

/* Tables */
table.itu {border-bottom:1px solid #505050;width:100%;}
table.itu th {background:url("../images/table-header-bg.png") repeat-x;border-bottom:1px solid #505050;border-right:1px solid #a1a1a1;}
table.itu th div {color:#303030;font-size:9pt;display:block;padding:1px 4px 0px;border-left:1px solid #e0e0e0;}
table.itu tr td {border-right:1px solid #d9d9d9;}
table.itu tr.odd td {background-color:#fff;}
table.itu tr.even td {background-color:#f1f5fa;}
table.itu tr td a {padding:1px 5px;color:#404040;display:block;}
table.itu tr.table-row-selected td {color:#fff;background-color:#3d80df;border-right:1px solid #346dbe}
table.itu tr.table-row-selected td a {color:#fff;}
table.m {width:25%;}
table.m td {margin:0;padding:2px 0px;}
table.m td.first {text-align:right;font-weight:bold;color:#bbb;padding-right:3px;}
table.m td a {padding:1px 6px;border:1px solid #fff;}
table.m td a:hover {background-color:#bbcef1;border:1px solid #6595e0;-moz-border-radius:8px;-webkit-border-radius:8px}

/* Tabs */
ul.ui-tabs-nav {margin:1em 1em 0;}
div.ui-tabs-panel {margin:0 1em;padding:.5em 0;}
div.ui-tabs-panel table.itu {font-size:12px;border-top:1px solid #505050;border-left:1px solid #505050;border-right:1px solid #505050;}
.ui-tabs-panel-padding {padding:1.2em;}

/* Toolbars */
div.toolbar {border:1px solid #505050;background:url("../images/footer-button-m-inactive.png") repeat-x;height:20px;display:block;margin:1em 1.2em 0;padding:0 1em;-moz-border-radius:5px;-webkit-border-radius:5px}
div.toolbar a {font-size:12px;margin:0;padding:3px 1em;}
div.toolbar a:hover {background:url("../images/footer-button-m-active.png") repeat-x;}